---
import { Image } from 'astro:assets'
import NumeralOne from '../../assets/images/frame-bio_numeral-1.svg'
import NumeralTwo from '../../assets/images/frame-bio_numeral-2.svg'
import NumeralThree from '../../assets/images/frame-bio_numeral-3.svg'

export interface Props {
  title: string
  description: string[]
  image: ImageMetadata
  imageAlt: string
  numeral?: number
}

const { title, description, image, imageAlt, numeral } = Astro.props
---

<article
  class="relative w-full lg:w-[calc(100vw-var(--site-padding-base))] xl:w-[calc(100vw-var(--site-padding-lg))] grid lg:grid-cols-[250px_auto_1fr] lg:grid-rows-[auto_1fr] shadow-[0_0_10px] shadow-accent z-1 bg-primary lsa lsa-slide-right no-repeat overflow-hidden"
>
  <Image
    src={image.src}
    alt={imageAlt}
    width={image.width}
    height={image.height}
    class="w-full max-h-50 lg:max-h-none h-full object-cover"
  />

  <div
    class="flex gap-(--site-padding-base) lg:gap-(--site-padding-base) px-(--site-padding-base) py-(--site-padding-md)"
  >
    {numeral === 1 && <NumeralOne class="size-12 md:size-16 lg:size-24 shrink-0" />}
    {numeral === 2 && <NumeralTwo class="size-12 md:size-16 lg:size-24 shrink-0" />}
    {numeral === 3 && <NumeralThree class="size-12 md:size-16 lg:size-24 shrink-0" />}

    <div class="flex flex-col gap-(--site-padding-base) lg:w-[58%] xl:w-[55%]">
      <h3 class="font-museo-slab-rounded uppercase text-2xl sm:text-3xl md:text-4xl">{title}</h3>
      <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-(--site-padding-base)">
        {
          description.map((line) => (
            <p class="font-museo-slab-rounded text-sm lg:text-base leading-tight">{line}</p>
          ))
        }
      </div>
    </div>
  </div>
</article>
